@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("https://static.webknossos.org/assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

:root {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border: 1px solid #e8e8e8;
  border-collapse: separate;
  border-spacing: 0;
}

td, th {
  padding: 10px 18px;
}

th {
  font-weight: bold;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #111;
}

td {
  border: 1px solid #e8e8e8;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.viewer_icon {
  max-width: 20px;
  max-height: 20px;
  margin: 2px;
}

@-webkit-keyframes seesaw { from { transform: rotate(-0.05turn) } to { transform: rotate(0.05turn); }  }
@keyframes seesaw { from { transform: rotate(-0.05turn) } to { transform: rotate(0.05turn); }  }
